<a href="https://colab.research.google.com/github/VishalChoudhari2003/Python/blob/main/Data_Structures_In_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##list
In Python, a list is a built-in dynamic sized array (automatically grows and shrinks). We can store all types of items (including another list) in a list. A list may contain mixed type of items, this is possible because a list mainly stores references at contiguous locations and actual items maybe stored at different locations.

List can contain duplicate items.
List in Python are Mutable. Hence, we can modify, replace or delete the items.
List are ordered. It maintain the order of elements based on how they are added.
Accessing items in List can be done directly using their position (index), starting from 0.

In [3]:
type([])

list

In [15]:
lst=list((1,2,3,4))
lst

[1, 2, 3, 4]

In [7]:

#Strings Are Immutable
str="Vishal"
str[0:4]

'Vish'

In [8]:
lst=[1,2,3,4,5]
lst[0:4]

[1, 2, 3, 4]

In [11]:
lst=['Vishal','Choudhari',1,2,3]
lst

['Vishal', 'Choudhari', 1, 2, 3]

In [14]:
lst=['Vishal','Choudhari',1,2,3]
lst[2]='Vishal'
lst

['Vishal', 'Choudhari', 'Vishal', 2, 3]

In [18]:
lst6=[1,2,3,4,5]
for i in lst6:
  print(i**2)

1
4
9
16
25

In [22]:
len(lst6)
max(lst6)

5

In [31]:
#append()
lst=[1,2,3,4,5]
lst.append([6,7])
print(lst)
#slicing
lst[::-1]

[1, 2, 3, 4, 5, [6, 7]]

[[6, 7], 5, 4, 3, 2, 1]

In [32]:
#insert()
lst=[1,2,3,4,5]
lst.insert(2,'Vishal')
lst

[1, 2, 'Vishal', 3, 4, 5]

In [34]:
#extend()
lst=[1,2,3,4,5]
lst.extend([6,7])
lst

[1, 2, 3, 4, 5, 6, 7]

In [35]:
#pop()
lst=[1,2,3,4,5]
lst.pop()

5

In [37]:

#count()
lst=[1,1,2,3,4,5]
lst.count(1)

2

##Sets
A Set in Python is used to store a collection of items with the following properties.

No duplicate elements. If try to insert the same item again, it overwrites previous one.
An unordered collection. When we access all items, they are accessed without any specific order and we cannot access items using indexes as we do in lists.
Internally use hashing that makes set efficient for search, insert and delete operations. It gives a major advantage over a list for problems with these operations.
Mutable, meaning we can add or remove elements after their creation, the individual elements within the set cannot be changed directly.

In [38]:
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [42]:
type({1,2,3,4,'Vishal'})

set

In [44]:
 set_var={1,2,3,4,'Vishal'}
 print(set_var)
 for i in set_var:
   print(i)

{1, 2, 3, 4, 'Vishal'}
1
2
3
4
Vishal

In [45]:
#inbuilt Functions
set_var={1,2,3,4,'Vishal'}
set_var.add('Choudhari')
set_var

{1, 2, 3, 4, 'Choudhari', 'Vishal'}

In [46]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set2.difference(set1)

{6, 7}

In [48]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.difference_update(set2)
set1

{1, 2}

In [49]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.intersection(set2)

{3, 4, 5}

##Dictionaries
A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys canâ€™t be repeated and must be immutable.

In [50]:
dictt={}
type(dictt)

dict

In [53]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [54]:
# create dictionary using { }
d1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d1)

# create dictionary using dict() constructor
d2 = dict(a = "Geeks", b = "for", c = "Geeks")
print(d2)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{'a': 'Geeks', 'b': 'for', 'c': 'Geeks'}

In [55]:
d = { "name": "Alice", 1: "Python", (1, 2): [1,2,4] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))

Alice
Alice

In [56]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}

# Adding a new key-value pair
d["age"] = 22

# Updating an existing value
d[1] = "Python dict"

print(d)

{1: 'Python dict', 2: 'For', 3: 'Geeks', 'age': 22}

In [57]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks', 'age':22}

# Using del to remove an item
del d["age"]
print(d)

# Using pop() to remove an item and return the value
val = d.pop(1)
print(val)

# Using popitem to removes and returns
# the last key-value pair.
key, val = d.popitem()
print(f"Key: {key}, Value: {val}")

# Clear all items from the dictionary
d.clear()
print(d)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
Geeks
Key: 3, Value: Geeks
{}

In [58]:
d = {1: 'Geeks', 2: 'For', 'age':22}

# Iterate over keys
for key in d:
    print(key)

# Iterate over values
for value in d.values():
    print(value)

# Iterate over key-value pairs
for key, value in d.items():
    print(f"{key}: {value}")

1
2
age
Geeks
For
22
1: Geeks
2: For
age: 22

In [59]:
d = {1: 'Geeks', 2: 'For',
        3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

print(d)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

##Tuples
Python Tuple is a collection of objects separated by commas. A tuple is similar to a Python list in terms of indexing, nested objects, and repetition but the main difference between both is Python tuple is immutable, unlike the Python list which is mutable.

In [60]:
# Note : In case of list, we use square
# brackets []. Here we use round brackets ()
t = (10, 20, 30)

print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [61]:
t = (1, 2, 3, 4, 5)

# tuples are indexed
print(t[1])
print(t[4])

# tuples contain duplicate elements
t = (1, 2, 3, 4, 2, 3)
print(t)

# updating an element
t[1] = 100
print(t)

2
5
(1, 2, 3, 4, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [62]:
t = (10, 5, 20)

print("Value in t[0] = ", t[0])
print("Value in t[1] = ", t[1])
print("Value in t[2] = ", t[2])

Value in t[0] =  10
Value in t[1] =  5
Value in t[2] =  20

In [63]:
t = (10, 5, 20)

print("Value in t[-1] = ", t[-1])
print("Value in t[-2] = ", t[-2])
print("Value in t[-3] = ", t[-3])

Value in t[-1] =  20
Value in t[-2] =  5
Value in t[-3] =  10