<a href="https://colab.research.google.com/github/VishalChoudhari2003/Python/blob/main/Functions_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
##Positonal And keyword argument
def hello(name,age=22):
  print('hello '+name+" you are "+str(age)+' years old')

hello("Vishal",25)

hello Vishal you are 25 years old

In [6]:
#make flexible functions
#*operATOR
#*args

def all_total(*args):
    total=0
    for num in args:
        total+=num
    return total


print(all_total(1,2,3,4,5))

15

In [7]:
#*args with normal parameter

def multiply_nums(num,*args):
    multiply=1
    print(num)
    print(args)
    for i in args:
        multiply*=i

    return multiply

print(multiply_nums(1,2,3,4))

1
(2, 3, 4)
24

In [8]:
def to_power(num,*args):
    if args:
        return [i**num for i in args]
    else:
        return "You didnt pass any args"

nums=[1,2,3]
print(to_power(2,*nums))

[1, 4, 9]

In [9]:
#kwargs (keyword argument)
#**kwargs (doun=ble star operator)

#kwargs as a parameter
#It takes input as dictioanry
def func(**kwargs):
    print(kwargs)

func(firts_name='Vishal',last_name='Choudhari')
#dictionary unpacking
d={'name':'Vishal','age':22}
func(**d)

{'firts_name': 'Vishal', 'last_name': 'Choudhari'}
{'name': 'Vishal', 'age': 22}

In [10]:
#Functions with all parameters
#very important to understand

#PADK
#parameters
#*args
#default parameters
#**kwargs

def func(name,*args,last_name='unklnown',**kwargs):
    print(name)
    print(args)
    print(last_name)
    print(kwargs)

func('Vishal',1,2,3, a=1,b=2)

Vishal
(1, 2, 3)
unklnown
{'a': 1, 'b': 2}

In [11]:


def multiply_nums(*args):
    multiply=1

    print(args)
    for i in args:
        multiply*=i

    return multiply

nums=[1,2,3]
print(multiply_nums(*nums))  #* SE UNPACK

(1, 2, 3)
6