<a href="https://colab.research.google.com/github/VishalChoudhari2003/Python/blob/main/Functions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def welcome():
  print("My Name is Vishal")


welcome()
welcome()

My Name is Vishal
My Name is Vishal

In [2]:
def sumofnumbers():
  return 10+20

sumofnumbers()

30

In [4]:
def sumofnumbers(a,b):
  return a+b

sumofnumbers(12,20)

32

In [6]:
def evenandodd(a):
  if a%2==0:
    print("Even")
  else:
    print("Odd")

evenandodd(11)

Odd

In [7]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21