<a href="https://colab.research.google.com/github/VishalChoudhari2003/Python/blob/main/Python_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Operators**
1 Logically
2 Equality
3 Comparison
4 Arithmetic

In [5]:
#Logical Operators
a = True
b = False
print(a and b)
print(a or b)
print(not a)
#

age = 18
print(age >= 18 and age <= 65)
print(age < 18 or age > 65)
print(not age > 65)

False
True
False
True
False
True

In [8]:
#Equality Operators
a = 5
b = 5
print(a == b)
print(a != b)
print(a is b)
print(a is not b)


#is
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

print(x is y)

print(x == y)

True
False
True
False
True
False
True

In [3]:
#Comparison Operator
a = 5
b = 5
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
False
True
True

In [4]:
#Arithmetic Operator
a = 5
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

10
0
25
1.0
0
3125
1